<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>

    <form action="/tasks" method="post" class="create-task-form">
        <label for="task">Task:</label>
        <input type="text" name="task" id="task">
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="To Do">To Do</option>
            <option value="Ready">Ready</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
        </select>
        <input type="submit" value="Create Task">
    </form>
    All tasks:
    <ul></ul>
    {% for task in tasks %}
        <li class="task-row">
            <input type="checkbox" name="checkBox-{{task.1}}" id="checkBox-{{task.1}}">
           <p> {{ task.1 }} </p>
            <select name="status-{{task.1}}" id="status-{{task.1}}">
                <option value="To Do" {% if task.2 == "To Do" %} selected {% endif %}>To Do</option>
                <option value="Ready" {% if task.2 == "Ready" %} selected {% endif %}>Ready</option>
                <option value="In Progress" {% if task.2 == "In Progress" %} selected {% endif %}>In Progress</option>
                <option value="Done" {% if task.2 == "Done" %} selected {% endif %}>Done</option>
            </select>
            
           <button onclick="deleteTask({{ task.0 }})" id="{{ task.1 }}" class="delete-task">Delete Task</button> 
        </li>
    {% endfor %}

    
    <a href="/">Back</a><br><br>
<script src="static/script.js"></script>   
</body>
</html>